In [15]:
import pandas as pd
import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

import pandas

In [17]:
import pandas as pd
d={'Name':'Virat','IPL team':'RCB','Runs':'10000'}
s=pd.Series(d)
print(s)

Name        Virat
IPL team      RCB
Runs        10000
dtype: object

In [19]:
import pandas as pd
s=pd.Series([1,2,3,4,5])
print('To multiply all values in a series by 2')
print(s)
print(s*2)
print(' ')
print(' ')
print(s[s>2])

To multiply all values in a series by 2
0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64


2    3
3    4
4    5
dtype: int64

In [23]:
import pandas as pd
import numpy as np;
arr=np.array([10,15,18,22,25,75,42,48,97])
s=pd.Series(arr)
print(s.head())
print(s.tail())

0    10
1    15
2    18
3    22
4    25
dtype: int64
4    25
5    75
6    42
7    48
8    97
dtype: int64

In [29]:

import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s.loc[1:2])
print(s.loc[3:4])
s.loc[2:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
1    15
2    18
dtype: int64
3    22
4    55
dtype: int64

2    18
3    22
dtype: int64

In [31]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64

In [37]:
import pandas as pd
import numpy as np
arr=np.array(['A','B','C'])
s=pd.Series(arr,index=['first','second','third'])
print(s)

first     A
second    B
third     C
dtype: object

In [43]:
import pandas as pd
import numpy as np
arr=np.array([2,10,16,8])
s=pd.Series(arr,index=['a','b','c','d'])
print(s)
print(s[1:5:2])

a     2
b    10
c    16
d     8
dtype: int64
b    10
d     8
dtype: int64

In [47]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [49]:
import pandas as pd
s=pd.Series(['a','b','c','d'])
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [51]:
import pandas as pd
name=pd.Series(['MS','Kohli'])
team=pd.Series(['CSK','RCB'])
df={'Name':name,'Team':team}
df=pd.DataFrame(df)
print(df)

    Name Team
0     MS  CSK
1  Kohli  RCB

In [55]:
import pandas as pd
d=[{'Name':'Muktha','StrName':'Krishna'},{'Name':'Nanda','StrName':'Karthik'}]
df=pd.DataFrame(d)
print(df)

     Name  StrName
0  Muktha  Krishna
1   Nanda  Karthik

import

In [57]:
import pandas as pd
l=[{'Name':'Muktha','StrName':'Krishna'},{'Name':'Nanda','StrName':'Karthik'}]
df=pd.DataFrame(l)
for(row_index,row_value) in df.iterrows():
    print('\n row index is: :',row_index)
    print('row value is : :')
    print(row_value)

 row index is: : 0
row value is : :
Name        Muktha
StrName    Krishna
Name: 0, dtype: object

 row index is: : 1
row value is : :
Name         Nanda
StrName    Karthik
Name: 1, dtype: object

In [61]:
import pandas as pd
l=[{'Name':'Muktha','StrName':'Krishna'},{'Name':'Nanda','StrName':'Karthik'}]
df1=pd.DataFrame(l)
print(df1)
for(col_name,col_value) in df1.iteritems():
    print('\n col name is: :',col_name)
    print('col value is : :')
    print(col_value)

     Name  StrName
0  Muktha  Krishna
1   Nanda  Karthik

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [63]:
import pandas as pd

data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)

for x, y in df.iteritems():
  print(x)
  print(y)

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [65]:
import pandas as pd
l=[{'Name':'Muktha','StrName':'Krishna'},{'Name':'Nanda','StrName':'Karthik'}]
df=pd.DataFrame(l)
for(row_index,row_value) in df.iterrows():
    print('\n row index is: :',row_index)
    print('row value is : :')
    print(row_value)

 row index is: : 0
row value is : :
Name        Muktha
StrName    Krishna
Name: 0, dtype: object

 row index is: : 1
row value is : :
Name         Nanda
StrName    Karthik
Name: 1, dtype: object

In [67]:

import pandas as pd
a = pd.DataFrame()
d = {'id': [1, 2, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}
a = pd.DataFrame(d)
b = pd.DataFrame()
d = {'id': [1, 2, 9, 8],
	'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
df = pd.merge(a, b, on='id', how='inner')
df

   id val1_x val1_y
0   1      a      p
1   2      b      q

In [69]:

import pandas as pd
a = pd.DataFrame()
d = {'id': [1, 2, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}
a = pd.DataFrame(d)
b = pd.DataFrame()
d = {'id': [1, 2, 9, 8],
	'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
df = pd.merge(a, b, on='id', how='left')
df

   id val1_x val1_y
0   1      a      p
1   2      b      q
2  10      c    NaN
3  12      d    NaN

In [71]:

import pandas as pd
a = pd.DataFrame()
d = {'id': [1, 2, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}
a = pd.DataFrame(d)
b = pd.DataFrame()
d = {'id': [1, 2, 9, 8],
	'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
df = pd.merge(a, b, on='id', how='right')
df

   id val1_x val1_y
0   1      a      p
1   2      b      q
2   9    NaN      r
3   8    NaN      s

In [73]:

import pandas as pd
a = pd.DataFrame()
d = {'id': [1, 2, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}
a = pd.DataFrame(d)
b = pd.DataFrame()
d = {'id': [1, 2, 9, 8],
	'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
df = pd.merge(a, b, on='id', how='outer')
df

   id val1_x val1_y
0   1      a      p
1   2      b      q
2   8    NaN      s
3   9    NaN      r
4  10      c    NaN
5  12      d    NaN

In [75]:

import pandas as pd
a = pd.DataFrame()
d = {'id': [1, 2, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}
a = pd.DataFrame(d)
b = pd.DataFrame()
d = {'id': [1, 2, 9, 8],
	'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
df = pd.merge(a, b, left_index=True, right_index=True)
df

   id_x val1_x  id_y val1_y
0     1      a     1      p
1     2      b     2      q
2    10      c     9      r
3    12      d     8      s